@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-primary: #13a4ec;
  --color-primary-hover: #0f8ecf;
  --color-primary-light: #e0f2fe;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
